<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h2>About section</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error illo animi voluptates maxime minus impedit expedita corrupti non architecto. Cupiditate laboriosam magni veritatis quis accusantium? Nobis quis quaerat voluptas dolores?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt illo enim dolores odit nam, obcaecati beatae quod quia earum culpa nemo officia exercitationem possimus corporis harum. Repudiandae nam autem quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure aliquam, id perferendis, soluta nihil itaque aliquid provident non dolorem totam voluptas voluptates hic accusamus? Unde eaque earum voluptatibus itaque saepe?</p>
</body>
</html>