<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my Blog Post</h1>
    <p>A site for blogs</p>
    <nav>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
    <div>
        <form>
            <label for="title">Blog title:</label>
            <input type="text" id="title" required>
            <label for="content">Blog content:</label>
            <textarea id="body" required></textarea>
            <label for="author">Author:</label>
            <input type="text" id="author" required>
            <label for="tag">Tags:</label>
            <input type="text" id="tag" required>

            <button>Submit</button>

        </form>
    </div>
</body>
</html>